.booth{
	width: 400px;
	height: 400px;
	background-color: red;
	margin: 0 auto;
}

.booth-capture-button {
	display: block;
	margin: 10px 0;
	padding:10px 20px;
	background-color: blue;
	color: white;
	text-align: center;
	text-decoration: none;
}
 
#canvas {
	display: none;
}